
{% extends 'OrdersApp/base.html' %}

{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block content %}

<form method="POST" class="jumbotron" style="width: 45%;margin: 3% 30%;">
    <h2 style="margin: 2%;padding: 1%;text-align: center;"> Login Form</h2>
    {% csrf_token %}
    <div class="form-group">
      
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="uname" class="form-control>
    </div>

    <br><br><br>



    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div>

        {% if messages %}
            {% for msj in messages %}
                <div style="color: red;">{{msj}}</div>
            {% endfor %}
        {% endif %}
    </div>

    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block"> Login</button>
    <br><br><br>

    <div style="margin: 0% 20%;" ><h6>Don't have an account? <a href="{% url 'register' %}">Register Here...</a></h6></div>
    <div style="margin: 0% 30%;" ><h6><a href="{% url 'register' %}">Forgot your password?</a></h6></div>

</form>

{% endblock %}
